In [93]:
import pandas as pd
import numpy as np 
from google_play_scraper import app ,reviews_all,reviews, Sort
import os

In [94]:
os.chdir('C:/Users/saksh/OneDrive/Desktop/pratice/NLP/nlp-getting-started')
df_new = pd.read_excel('math_app_list.xlsx')

In [95]:
df_new

,title,app_id
0,Photomath,com.microblink.photomath
1,Microsoft Math Solver,com.microsoft.math
2,Gauthmath-Math Homework Helper,com.education.android.h.intelligence
3,Mathway: Scan & Solve Problems,com.bagatrix.mathway.android
4,Learn Math & Math problems,com.companyname.MaturaMatematyka
...,...,...
739,B.S. GREWAL - HIGHER ENGINEERING MATHEMATICS-E...,thakursourav12.engineeringmath
740,precalculus,com.zaido.precalculuslearncourse
741,xCalc,com.bavichugo.xcalc
742,Elementary,uk.ac.cam.sp715.casapp
743,Math. Limits,air.LimsEnFree

In [96]:
app=df_new.drop('title',axis=1)

In [97]:
app.dtypes

app_id    object
dtype: object

In [98]:
app

                                   app_id
0                com.microblink.photomath
1                      com.microsoft.math
2    com.education.android.h.intelligence
3            com.bagatrix.mathway.android
4        com.companyname.MaturaMatematyka
..                                    ...
739        thakursourav12.engineeringmath
740      com.zaido.precalculuslearncourse
741                   com.bavichugo.xcalc
742                uk.ac.cam.sp715.casapp
743                        air.LimsEnFree

[744 rows x 1 columns]

In [99]:
app1=np.array(app)

In [100]:
app1[21]

array(['com.bangdev.freakingmath'], dtype=object)

In [155]:
for i in range(0,19):
    new_app=app1[i].astype(str)
    print(app1[i][0])
    df[i],ef=reviews(app1[i][0],lang ='en',country ='us',count=530)
    print('Done'+ str(i))

com.microblink.photomath
Done0
com.microsoft.math
Done1
com.education.android.h.intelligence
Done2
com.bagatrix.mathway.android
Done3
com.companyname.MaturaMatematyka
Done4
example.matharithmetics
Done5
com.mathpresso.qanda
Done6
com.math.photo.scanner.equation.formula.calculator
Done7
com.closeapps.mathrun
Done8
com.GamesForKids.Mathgames.MultiplicationTables
Done9
com.BlackGames.MathRiddles
Done10
com.devsense.symbolab
Done11
com.cymath.cymath
Done12
com.akbur.mathsworkout
Done13
de.softan.multiplication.table
Done14
com.MathUnderground.MathSolver
Done15
com.epsilon.division
Done16
com.cuelearn.cuemathapp
Done17
com.nsc.mathformulas.lite
Done18

In [124]:
df[3]

[{'reviewId': '9397b590-3c47-42cf-b3ef-940042d457f4',
  'userName': 'jayvee bisnar',
  'userImage': 'https://play-lh.googleusercontent.com/a/AEdFTp5xzx7dftbcQtBImQvROoxWbAhZuyWVEEeUPN0B=mo',
  'content': 'very cool',
  'score': 5,
  'thumbsUpCount': 0,
  'reviewCreatedVersion': '1.17.0',
  'at': datetime.datetime(2023, 1, 17, 21, 56, 4),
  'replyContent': None,
  'repliedAt': None},
 {'reviewId': '86142860-3b15-47e9-9841-51d19e8b061c',
  'userName': 'Savannah Williams',
  'userImage': 'https://play-lh.googleusercontent.com/a-/AD5-WCmrdLZ0kQUHMDvUZNnjxJv5HMBJfmM6SXBiOF8Rfw',
  'content': "amazing, can solve all and every problem I've had 😍",
  'score': 5,
  'thumbsUpCount': 0,
  'reviewCreatedVersion': '1.17.0',
  'at': datetime.datetime(2023, 1, 17, 21, 28, 31),
  'replyContent': None,
  'repliedAt': None},
 {'reviewId': '16594c05-402d-4b42-aaa7-bf5992297717',
  'userName': 'Pearly Suelto',
  'userImage': 'https://play-lh.googleusercontent.com/a/AEdFTp4mD7MXCa6mVN3kvbk8J-yA86pzzjKPrhPTJeQL=mo',
  'content': 'please help me',
  'score': 5,
  'thumbsUpCount': 0,
  'reviewCreatedVersion': '1.17.0',
  'at': datetime.datetime(2023, 1, 17, 20, 46, 34),
  'replyContent': None,
  'repliedAt': None},
 {'reviewId': '20a9fa22-d8e8-4423-a76d-9afafaa4ce6f',
  'userName': 'sari Samuel',
  'userImage': 'https://play-lh.googleusercontent.com/a/AEdFTp6_p-t-XqtW9dRGjrc4wgnz0Wr1vEV20pLfqyBk=mo',
  'content': "I like how it doesn't ask for a premium to show you more steps and it explains so well",
  'score': 5,
  'thumbsUpCount': 0,
  'reviewCreatedVersion': '1.17.0',
  'at': datetime.datetime(2023, 1, 17, 20, 41, 38),
  'replyContent': None,
  'repliedAt': None},
 {'reviewId': '4148af67-2adc-4d5f-9215-addccf6514cd',
  'userName': 'Tulashi Bokati',
  'userImage': 'https://play-lh.googleusercontent.com/a-/AD5-WCmhIr-mmpXNWNxG657vaFuREPUNoABMYwf7bIpY0w',
  'content': 'best math app',
  'score': 5,
  'thumbsUpCount': 0,
  'reviewCreatedVersion': '1.17.0',
  'at': datetime.datetime(2023, 1, 17, 19, 19, 47),
  'replyContent': None,
  'repliedAt': None}]

In [180]:
data18=pd.DataFrame(np.array(df[18]),columns=['review'])
data18=data18.join(pd.DataFrame(data18.pop('review').tolist()))

In [159]:
data1.shape

(530, 10)

In [181]:
new_data=pd.concat([data0,data1,data2,data3,data4,data5,data6,data7,data8,data9,data10,data11,data12,data13,data14,data15,data16,data17,data18])

In [182]:
new_data.shape

(10070, 10)

In [184]:
new_data.to_excel('saved4.xlsx')

In [ ]:
df2 = pd.read_excel('saved1.xlsx')

In [183]:
df2.head()

,Unnamed: 0,reviewId,userName,userImage,content,score,thumbsUpCount,reviewCreatedVersion,at,replyContent,repliedAt
0,0,153c09f1-5256-4740-8a31-8112846df9b8,Travor Samuel,https://play-lh.googleusercontent.com/a-/AD5-W...,love it,4,0,6.2.1,2023-01-16 02:58:40,NaN,NaN
1,1,00f39e63-3039-4266-9a24-2abddefce7b4,Matej Kruzik,https://play-lh.googleusercontent.com/a-/AD5-W...,It is an okay app but if I don't know somethin...,3,0,6.2.1,2023-01-14 21:57:46,NaN,NaN
2,2,f480defa-a6d5-483a-b8db-a2ee58153ea7,Aradhya verma,https://play-lh.googleusercontent.com/a-/AD5-W...,Very very good,5,0,6.2.1,2023-01-14 15:14:20,NaN,NaN
3,3,61279b67-a162-4a7c-96ac-3b86f53523df,Princess Amina Ibrahim,https://play-lh.googleusercontent.com/a-/AD5-W...,it's really helpful,3,0,6.2.1,2023-01-14 00:13:42,NaN,NaN
4,4,c0cbb892-e83d-4865-8cef-682b4e99bb21,Moses,https://play-lh.googleusercontent.com/a/AEdFTp...,Great app for learning and developing in Mathe...,4,0,6.2.1,2023-01-13 22:29:18,NaN,NaN

In [ ]:
# To clear about the loop 
# To clear about the classification problem how to give the names to it 
# To creat the very positive postive negative very negative and newtral revies system idea from sir